homeassistant:
  name: Home
  latitude: {{ latitude }}
  longitude: {{ longitude }}
  unit_system: metric
  currency: EUR
  language: nl
  temperature_unit: C
  time_zone: {{ timezone }}
  external_url: "https://{{ ext_ip}}:8123"
  internal_url: "http://{{ ip_address }}:8123"